include README.md LICENSE setup.py requirements.txt
recursive-include epayco_django/migrations/ *
recursive-include epayco_django/templatetags/ *
recursive-include epayco_django/templates/ *
recursive-include docs/ *